# GeoCache: *Wine Spectator*'s Top 100 Wines, 1988-2020
List available online on *Wine Spectator*'s [Top 100 Lists web site](https://top100.winespectator.com/lists/).

## File Setup

In [1]:
# import and initialize main python libraries
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

# import libraries for file navigation
import os
import shutil
import glob
from pandas_ods_reader import read_ods

# import other packages
from scipy import stats
from sklearn import linear_model

# import geo packages
import geopandas as gpd
import descartes
from shapely.geometry import Point, Polygon

# import Geopy packages
import geopy
from geopy.geocoders import Nominatim

In [2]:
# initialize vizualization set
sns.set(style="whitegrid", palette="colorblind", color_codes=True)
sns.mpl.rc("figure", figsize=(10, 6))

# Jupyter Notebook
%matplotlib inline

## Dataframe Exploration

In [3]:
# Note: save CSV files in UTF-8 format to preserve special characters.
df_Wine = pd.read_csv('./CSV_Wines.csv')
df_GeoCache = pd.read_csv('./CSV_GeoCache.csv')
df_GeoList = pd.read_csv('./CSV_GeoList.csv')

In [4]:
df_Wine.shape

(3301, 18)

In [5]:
df_Wine.dtypes

Review_Year           float64
Rank                   object
Vintage                object
Score                 float64
Price                  object
Winemaker              object
Wine                   object
Wine_Style             object
Grape_Blend            object
Blend_List             object
Geography              object
Cases_Made            float64
Cases_Imported        float64
Reviewer               object
Drink_now             float64
Best_Drink_from       float64
Best_Drink_Through    float64
Review                 object
dtype: object

In [6]:
df_GeoCache.shape

(1226, 3)

In [7]:
df_GeoList.shape

(448, 1)

In [8]:
df_Wine.sample(10)

,Review_Year,Rank,Vintage,Score,Price,Winemaker,Wine,Wine_Style,Grape_Blend,Blend_List,Geography,Cases_Made,Cases_Imported,Reviewer,Drink_now,Best_Drink_from,Best_Drink_Through,Review
2931,1991.0,32,1988,94.0,27,Ch√¢teau Pavie-Decesse,St.-Emilion,Red,Blend,Bordeaux Blend Red,St.-Emilion,4500.0,NaN,NaN,NaN,1996.0,2000.0,Brilliantly concentrated from beginning to end...
1228,2008.0,29,2005,96.0,100,A. Clape,Cornas,Red,Shiraz | Syrah,NaN,Cornas,1330.0,NaN,JM,NaN,2012.0,2028.0,"A dense, racy red, with a terrific beam of ras..."
1030,2010.0,31,2004,96.0,95,Terralsole,Brunello di Montalcino Riserva,Red,Brunello di Montalcino,NaN,Brunello di Montalcino,1450.0,NaN,JS,NaN,2011.0,NaN,"This changes all the time as you taste it, wit..."
220,2018.0,21,2016,93.0,18,Scott Base,Pinot Noir Central Otago,Red,Pinot Noir,NaN,Central Otago,5000.0,NaN,MW,1.0,2018.0,2028.0,"Smooth, silky raspberry coulis and maraschino ..."
2760,1993.0,61,1990,91.0,9,Michele Chiarlo,Barbera d'Asti,Red,Barbera,NaN,Barbera d'Asti,11000.0,NaN,NaN,1.0,1993.0,1996.0,"Peppery, spicy notes invigorate this smooth-te..."
2055,2000.0,56,1997,93.0,45,Swanson,Alexis Napa Valley,Red,Cabernet Sauvignon,NaN,Napa Valley,3400.0,NaN,JL,NaN,2002.0,2010.0,Weaves together a complex array of rich black ...
1720,2003.0,21,2000,92.0,13,Ch√¢teau de Flaugergues,Coteaux du Languedoc La M√©janelle Cuv√©e Sommel...,Red,Blend,Southern Rhone Red Blend,Languedoc,6000.0,NaN,KM,1.0,2003.0,2005.0,"Full-bore, decadent red, with dark plum and bl..."
2488,1996.0,89,1993,90.0,16,Saxenburg,Shiraz Stellenbosch Private Collection,Red,Shiraz | Syrah,NaN,Stellenbosch,800.0,NaN,NaN,1.0,1996.0,1999.0,"Gorgeous, deeply flavored red sporting the exu..."
1022,2010.0,23,2008,97.0,45,Owen Roe,Syrah Yakima Valley Red Willow Vineyard Chapel...,Red,Shiraz | Syrah,NaN,Yakima Valley,359.0,NaN,HS,1.0,2010.0,2016.0,"Warm, inviting and impressive for the purity o..."
1736,2003.0,37,2001,92.0,18,Dr. Loosen,Riesling Kabinett Mosel-Saar-Ruwer Wehlener So...,White,Riesling,NaN,Mosel,1000.0,NaN,BS,1.0,2003.0,2012.0,Gorgeous balance and grace in this peach- and ...

In [9]:
df_GeoCache.sample(10)

,Geography,Hierarchy,Address
428,Mercurey,Hierarchy_01,"Burgundy, France"
592,Montefalco,Hierarchy_01,"Umbria, Italy"
459,Charmes-Chambertin,Hierarchy_01,"Burgundy, France"
718,Mudgee,Hierarchy_02,"Mudgee, New South Wales, Australia"
1059,Minervois La Livini√®re,Hierarchy_03,"Minervois La Livini√®re, Minervois, Languedoc-R..."
320,Dry Creek Valley,Hierarchy_00,USA
16,Clare Valley,Hierarchy_00,Australia
1015,Corton Les Renardes,Hierarchy_03,"Corton Grand Cru, C√¥te de Beaune, Burgundy, Fr..."
220,Vallagarina IGT,Hierarchy_00,Italy
122,M√¢con-La Roche Vineuse,Hierarchy_00,France

In [10]:
df_GeoList.sample(10)

                                               Address
191                                   Kamptal, Austria
218                    Madeira Bual, Madeira, Portugal
382                          St.-Joseph, Rh√¥ne, France
7    Alexander Valley, Sonoma County, North Coast, ...
439                                    Washington, USA
402                                      Umbria, Italy
420                                Victoria, Australia
181          Hunter Valley, New South Wales, Australia
170                                             Greece
250   Morey-St.-Denis, C√¥te de Nuits, Burgundy, France

### Geocode the Address dataframe
Reference: [Python‚Äôs geocoding ‚Äî Convert a list of addresses into a map](https://towardsdatascience.com/pythons-geocoding-convert-a-list-of-addresses-into-a-map-f522ef513fd6)

In [11]:
# Initialize Nominatim into geolocator variable.
geolocator = Nominatim(user_agent='wine app')

In [12]:
geolocator.geocode('Castilla y Le√≥n, Spain').raw

{'place_id': 258252333,
 'licence': 'Data ¬© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 349041,
 'boundingbox': ['40.0824504', '43.2382034', '-7.077073', '-1.7753716'],
 'lat': '41.8037172',
 'lon': '-4.7471726',
 'display_name': 'Castilla y Le√≥n, Espa√±a',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.9625997816800999,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'}

In [13]:
geolocator.geocode('Castilla y Le√≥n, Spain').point

Point(41.8037172, -4.7471726, 0.0)

In [14]:
# Apply geolocator to the Address column in the GeoList dataframe.
df_GeoList['loc'] = df_GeoList['Address'].apply(geolocator.geocode)

In [15]:
# Get .point containing lat/long from Geocode response, if not none.
df_GeoList['point'] = df_GeoList['loc'].apply(lambda loc: tuple(loc.point) if loc else None)

In [16]:
# Split the .point column into separate columns for lat, long, and altitude
df_GeoList[['lat', 'long', 'altitude']] = pd.DataFrame(df_GeoList['point'].to_list(), index=df_GeoList.index)

In [17]:
df_GeoList

,Address,loc,point,lat,long,altitude
0,"Abruzzo, Italy","(Abruzzo, Italia, (42.227681, 13.854983))","(42.227681, 13.854983, 0.0)",42.227681,13.854983,0.0
1,"Adelaide Hills, South Australia, Australia","(Adelaide Hills Council, South Australia, Aust...","(-34.901351649999995, 138.8293202817461, 0.0)",-34.901352,138.829320,0.0
2,"Aegean Islands, Greece","(Aegean, Œ£Œ¨ŒºŒ∑ - ŒëŒ≥ŒØŒ± ŒïœÖœÜŒ∑ŒºŒØŒ±, ŒöŒ±œÅŒ±Œ≤œåŒºœÖŒªŒøœÇ, ŒîŒÆŒº...","(38.2504094, 20.6304217, 0.0)",38.250409,20.630422,0.0
3,"Aglianico del Vulture, Basilicata, Italy",None,None,NaN,NaN,NaN
4,"Agrelo, Mendoza, Argentina","(Agrelo, Distrito Agrelo, Departamento Luj√°n d...","(-33.1184629, -68.8859261, 0.0)",-33.118463,-68.885926,0.0
5,"Alba, Piedmont | Piemonte, Italy",None,None,NaN,NaN,NaN
6,"Alentejo, Portugal","(Alentejo, Portugal, (38.0551003, -7.8605799))","(38.0551003, -7.8605799, 0.0)",38.055100,-7.860580,0.0
7,"Alexander Valley, Sonoma County, North Coast, ...",None,None,NaN,NaN,NaN
8,"Alicante, Valencia, Spain","(Alacant / Alicante, l'Alacant√≠, Alacant / Ali...","(38.353738, -0.4901846, 0.0)",38.353738,-0.490185,0.0
9,"Almansa, Castilla La Mancha, Spain","(Almansa, Albacete, Castilla-La Mancha, 02640,...","(38.8682065, -1.0978627, 0.0)",38.868206,-1.097863,0.0
10,"Alsace, France","(Alsace, France m√©tropolitaine, France, (48.24...","(48.24917645, 7.4074699518555, 0.0)",48.249176,7.407470,0.0
11,"Alto Adige Terlano, Alto Adige, Sudtirol, Tren...",None,None,NaN,NaN,NaN
12,"Alto Adige, Sudtirol, Trentino-Alto Adige, Italy","(Bolzano - Bozen, Trentino-Alto Adige/S√ºdtirol...","(46.65594215, 11.229637264169462, 0.0)",46.655942,11.229637,0.0
13,"Alto Adige, Sudtirol, Trentino,Alto Adige, Italy","(Bolzano - Bozen, Trentino-Alto Adige/S√ºdtirol...","(46.65594215, 11.229637264169462, 0.0)",46.655942,11.229637,0.0
14,"Amador County, Sierra Foothills, California, USA",None,None,NaN,NaN,NaN
15,"Amarone della Valpolicella, Veneto, Italy",None,None,NaN,NaN,NaN
16,"Amyndaio, Macedonia, Greece, Greece",None,None,NaN,NaN,NaN
17,"Andalucia, Spain","(Andaluc√≠a, Espa√±a, (37.3399964, -4.5811614))","(37.3399964, -4.5811614, 0.0)",37.339996,-4.581161,0.0
18,"Anderson Valley, Mendocino County, North Coast...",None,None,NaN,NaN,NaN
19,"Anjou, Loire, France","(Anjoux, Sagy, Louhans, Sa√¥ne-et-Loire, Bourgo...","(46.564187, 5.3193257, 0.0)",46.564187,5.319326,0.0
20,"Apalta, Colchagua Valley, Chile","(Vi√±a Apalta, Millahue de Apalta, Santa Cruz, ...","(-34.6239248, -71.2671251, 0.0)",-34.623925,-71.267125,0.0
21,"Apremont, Savoie, France","(Apremont, Chamb√©ry, Savoie, Auvergne-Rh√¥ne-Al...","(45.5132, 5.95937, 0.0)",45.513200,5.959370,0.0
22,"Aragon, Spain","(Arag√≥n, Espa√±a, (41.3787291, -0.7639373))","(41.3787291, -0.7639373, 0.0)",41.378729,-0.763937,0.0
23,"Arbois Pupillin, Jura, France",None,None,NaN,NaN,NaN
24,Argentina,"(Argentina, (-34.9964963, -64.9672817))","(-34.9964963, -64.9672817, 0.0)",-34.996496,-64.967282,0.0
25,"Arroyo Grande Valley, San Luis Obispo County, ...",None,None,NaN,NaN,NaN
26,"Auckland, New Zealand","(Auckland, WaitematƒÅ, Auckland, 1010, New Zeal...","(-36.852095, 174.7631803, 0.0)",-36.852095,174.763180,0.0
27,Australia,"(Australia, (-24.7761086, 134.755))","(-24.7761086, 134.755, 0.0)",-24.776109,134.755000,0.0
28,Austria,"(√ñsterreich, (47.2000338, 13.199959))","(47.2000338, 13.199959, 0.0)",47.200034,13.199959,0.0
29,"Bandol, Provence, France","(Bandol, Toulon, Var, Provence-Alpes-C√¥te d'Az...","(43.1357717, 5.7523647, 0.0)",43.135772,5.752365,0.0
...,...,...,...,...,...,...
418,"Verdicchio dei Castelli di Jesi, Marche, Italy",None,None,NaN,NaN,NaN
419,"Verona IGT, Veneto IGT, Veneto, Italy",None,None,NaN,NaN,NaN
420,"Victoria, Australia","(Victoria, Australia, (-36.5986096, 144.6780052))","(-36.5986096, 144.6780052, 0.0)",-36.598610,144.678005,0.0
421,"Vigneti delle Dolomiti IGT, Trentino,Alto Adig...",None,None,NaN,NaN,NaN
422,"Vin de Corse, Corsica, France","(Les Plaisirs du Vin, Rue du G√©n√©ral de Gaulle...","(41.5903081, 9.2780396, 0.0)",41.590308,9.278040,0.0
423,"Vin de Pays , France","(Le Bois Vien, Craon, Ch√¢teau-Gontier, Mayenne...","(47.8653429, -0.9011409, 0.0)",47.865343,-0.901141,0.0
424,"Vino Nobile di Montepulciano, Tuscany, Italy",None,None,NaN,NaN,NaN
425,"Vinsobres, Rh√¥ne, France","(Vinsobres, Nyons, Dr√¥me, Auvergne-Rh√¥ne-Alpes...","(44.3339938, 5.0609674, 0.0)",44.333994,5.060967,0.0
426,"Volnay, C√¥te de Beaune, Burgundy, France",None,None,NaN,NaN,NaN
427,"Vosne-Roman√©e Aux Br√ªl√©es, Vosne-Roman√©e Premi...",None,None,NaN,NaN,NaN
428,"Vosne-Roman√©e Clos des R√©as , Vosne-Roman√©e Pr...",None,None,NaN,NaN,NaN
429,"Vosne-Roman√©e Cros Parantoux, Vosne-Roman√©e Pr...",None,None,NaN,NaN,NaN
430,"Vosne-Roman√©e Les Beaux Monts, Vosne-Roman√©e P...",None,None,NaN,NaN,NaN
431,"Vosne-Roman√©e Les Chaumes, Vosne-Roman√©e Premi...",None,None,NaN,NaN,NaN
432,"Vosne-Roman√©e Premier Cru, Vosne-Roman√©e, C√¥te...",None,None,NaN,NaN,NaN
433,"Vosne-Roman√©e, C√¥te de Nuits, Burgundy, France",None,None,NaN,NaN,NaN
434,"Vougeot, C√¥te de Nuits, Burgundy, France",None,None,NaN,NaN,NaN
435,"Vouvray, Touraine, Loire, France","(Rue de Vouvray, Auzouer-en-Touraine, Loches, ...","(47.5835908, 0.9204818, 0.0)",47.583591,0.920482,0.0
436,"Wachau, Austria","(Wachau, Bezirk Krems, Nieder√∂sterreich, √ñster...","(48.3275563, 15.41162578949626, 0.0)",48.327556,15.411626,0.0
437,"Walker Bay, Cape South Coast, Western Cape, So...",None,None,NaN,NaN,NaN
438,"Walla Walla Valley, Washington, USA","(Walla Walla, Walla Walla County, Washington, ...","(46.0667277, -118.3393456, 0.0)",46.066728,-118.339346,0.0
439,"Washington, USA","(Washington, District of Columbia, United Stat...","(38.8949924, -77.0365581, 0.0)",38.894992,-77.036558,0.0
440,"Western Australia, Australia","(Western Australia, Australia, (-25.2303005, 1...","(-25.2303005, 121.0187246, 0.0)",-25.230300,121.018725,0.0
441,"Western Cape, South Africa","(Western Cape, South Africa, (-33.546977, 20.7...","(-33.546977, 20.72753, 0.0)",-33.546977,20.727530,0.0
442,"Willamette Valley, Oregon, USA","(Willamette, West Linn, Metro, Oregon, 97068, ...","(45.3442868, -122.6670374, 0.0)",45.344287,-122.667037,0.0
443,"Yakima Valley, Washington, USA","(Yakima, Yakima County, Washington, United Sta...","(46.601557, -120.5108421, 0.0)",46.601557,-120.510842,0.0
444,"Yamhill-Carlton District, Willamette Valley, O...",None,None,NaN,NaN,NaN
445,"Yarra Valley, Victoria, Australia","(Yarra, Murray Valley Highway, Yarrawonga, Shi...","(-36.0154297, 146.0139795, 0.0)",-36.015430,146.013980,0.0
446,"Yamhill-Carlton District, Willamette Valley, O...",None,None,NaN,NaN,NaN
447,"Yarra Valley, Victoria, Australia","(Yarra, Murray Valley Highway, Yarrawonga, Shi...","(-36.0154297, 146.0139795, 0.0)",-36.015430,146.013980,0.0

### Append geography details to the GeoCache dataframe
Determine how well populated geography is at different hierarchy levels.

In [18]:
df_GeoCache = pd.merge(df_GeoCache, df_GeoList, on = 'Address', how = 'left' )

In [19]:
df_GeoCache.to_csv(path_or_buf = './GeoCache.csv', index = False)

### Append Hierarchy 00 details to the df_Wine dataset

In [20]:
# filter df_GeoCache to Hierarchy_00

df_GeoCache00 = df_GeoCache[
    (df_GeoCache.Hierarchy == 'Hierarchy_00')
]

df_GeoCache00.sample(10)

,Geography,Hierarchy,Address,loc,point,lat,long,altitude
1,Agrelo,Hierarchy_00,Argentina,"(Argentina, (-34.9964963, -64.9672817))","(-34.9964963, -64.9672817, 0.0)",-34.996496,-64.967282,0.0
228,Morellino di Scansano,Hierarchy_00,Italy,"(Italia, (42.6384261, 12.674297))","(42.6384261, 12.674297, 0.0)",42.638426,12.674297,0.0
266,Jerez-X√©r√®s,Hierarchy_00,Spain,"(Espa√±a, (39.3260685, -4.8379791))","(39.3260685, -4.8379791, 0.0)",39.326068,-4.837979,0.0
306,Lake County,Hierarchy_00,USA,"(United States, (39.7837304, -100.4458825))","(39.7837304, -100.4458825, 0.0)",39.783730,-100.445882,0.0
168,Nahe,Hierarchy_00,Germany,"(Deutschland, (51.0834196, 10.4234469))","(51.0834196, 10.4234469, 0.0)",51.083420,10.423447,0.0
75,Chassagne-Montrachet En Remilly,Hierarchy_00,France,"(France, (46.603354, 1.8883335))","(46.603354, 1.8883335, 0.0)",46.603354,1.888334,0.0
232,Sant'Antimo,Hierarchy_00,Italy,"(Italia, (42.6384261, 12.674297))","(42.6384261, 12.674297, 0.0)",42.638426,12.674297,0.0
175,Naoussa,Hierarchy_00,Greece,"(ŒïŒªŒªŒ¨Œ¥Œ±, (38.9953683, 21.9877132))","(38.9953683, 21.9877132, 0.0)",38.995368,21.987713,0.0
189,Taurasi,Hierarchy_00,Italy,"(Italia, (42.6384261, 12.674297))","(42.6384261, 12.674297, 0.0)",42.638426,12.674297,0.0
45,Maipo Valley,Hierarchy_00,Chile,"(Chile, (-31.7613365, -71.3187697))","(-31.7613365, -71.3187697, 0.0)",-31.761336,-71.318770,0.0

In [21]:
df_Wine00 = pd.merge(df_Wine, df_GeoCache00, on = 'Geography', how = 'left')

df_Wine00.sample(10)

,Review_Year,Rank,Vintage,Score,Price,Winemaker,Wine,Wine_Style,Grape_Blend,Blend_List,...,Best_Drink_from,Best_Drink_Through,Review,Hierarchy,Address,loc,point,lat,long,altitude
1324,2007.0,23,2004,93.0,45,Bodega Catena Zapata,Malbec Mendoza Alta,Red,Malbec,NaN,...,2007.0,2010.0,"Dark and lush, with a gorgeous mouthfeel to th...",Hierarchy_00,Argentina,"(Argentina, (-34.9964963, -64.9672817))","(-34.9964963, -64.9672817, 0.0)",-34.996496,-64.967282,0.0
2431,1996.0,30,1994,96.0,27,Turley,Zinfandel Napa Valley Hayne Vineyard,Red,Zinfandel,NaN,...,NaN,NaN,Even more impressive than the first release fr...,Hierarchy_00,USA,"(United States, (39.7837304, -100.4458825))","(39.7837304, -100.4458825, 0.0)",39.783730,-100.445882,0.0
2777,1993.0,75,1990,91.0,17,Clos Pegase,Cabernet Sauvignon Napa Valley,Red,Cabernet Sauvignon,NaN,...,1993.0,2002.0,"Firm and intense with a solid core of cherry, ...",Hierarchy_00,USA,"(United States, (39.7837304, -100.4458825))","(39.7837304, -100.4458825, 0.0)",39.783730,-100.445882,0.0
2013,2000.0,12,1997,96.0,52,Antinori,Bolgheri Superiore Guado al Tasso Tenuta Belve...,Red,Blend,Bordeaux Blend Red,...,2005.0,NaN,A balanced and harmonious young red. Dark ruby...,Hierarchy_00,Italy,"(Italia, (42.6384261, 12.674297))","(42.6384261, 12.674297, 0.0)",42.638426,12.674297,0.0
3199,1989.0,97,1985,91.0,21,Simi,Cabernet Sauvignon Sonoma County,Red,Cabernet Sauvignon,NaN,...,NaN,1994.0,Ripe and delicious but elegantly contained in ...,Hierarchy_00,USA,"(United States, (39.7837304, -100.4458825))","(39.7837304, -100.4458825, 0.0)",39.783730,-100.445882,0.0
883,2012.0,82,NV,90.0,16,Emilio Lustau,Amontillado Jerez Los Arcos Solera Reserva,Dessert & Fortified,Palomino,NaN,...,2012.0,NaN,"A more flattering style, with an off-dry edge ...",Hierarchy_00,Spain,"(Espa√±a, (39.3260685, -4.8379791))","(39.3260685, -4.8379791, 0.0)",39.326068,-4.837979,0.0
386,2017.0,86,2014,94.0,75,Lancaster,Cabernet Sauvignon Alexander Valley,Red,Cabernet Sauvignon,NaN,...,2019.0,2029.0,"A big, rich Cabernet, with firm, structured ta...",Hierarchy_00,USA,"(United States, (39.7837304, -100.4458825))","(39.7837304, -100.4458825, 0.0)",39.783730,-100.445882,0.0
3278,1988.0,76,1985,93.0,22,Sterling,Three Palms Vineyard Napa Valley,Red,Merlot,NaN,...,1993.0,1993.0,Loaded with fruit and concentrated flavors tha...,Hierarchy_00,USA,"(United States, (39.7837304, -100.4458825))","(39.7837304, -100.4458825, 0.0)",39.783730,-100.445882,0.0
2484,1996.0,83,1994,90.0,15,Bernardus,Chardonnay Monterey County,White,Chardonnay,NaN,...,NaN,NaN,"A bold, ripe and full-bodied white from Califo...",Hierarchy_00,USA,"(United States, (39.7837304, -100.4458825))","(39.7837304, -100.4458825, 0.0)",39.783730,-100.445882,0.0
795,2013.0,94,2009,94.0,60,Schiavenza,Barolo Prap√≤,Red,Blend,Nebbiolo,...,2017.0,2032.0,"Warm and generous, this red balances notes of ...",Hierarchy_00,Italy,"(Italia, (42.6384261, 12.674297))","(42.6384261, 12.674297, 0.0)",42.638426,12.674297,0.0

### Append Hierarchy 01 details to the df_Wine dataset

In [22]:
# filter df_GeoCache to Hierarchy_00

df_GeoCache01 = df_GeoCache[
    (df_GeoCache.Hierarchy == 'Hierarchy_01')
]

df_GeoCache01.sample(10)

,Geography,Hierarchy,Address,loc,point,lat,long,altitude
366,Mudgee,Hierarchy_01,"New South Wales, Australia","(New South Wales, Australia, (-31.8759835, 147...","(-31.8759835, 147.2869493, 0.0)",-31.875984,147.286949,0.0
529,Amyndaio,Hierarchy_01,"Macedonia, Greece, Greece","(Border –ë—ä–ª–≥–∞—Ä–∏—è (Bulgaria) - ŒïŒªŒªŒ¨Œ¥Œ± (Greece),...","(41.7427066, 26.1770757, 0.0)",41.742707,26.177076,0.0
493,Montlouis,Hierarchy_01,"Loire, France","(Loire, Auvergne-Rh√¥ne-Alpes, France m√©tropoli...","(45.75385355, 4.045473682551104, 0.0)",45.753854,4.045474,0.0
650,Contra Costa County,Hierarchy_01,"California, USA","(California, United States, (36.7014631, -118....","(36.7014631, -118.755997, 0.0)",36.701463,-118.755997,0.0
439,Pommard La Plati√®re,Hierarchy_01,"Burgundy, France","(Bourgogne, France m√©tropolitaine, France, (47...","(47.27808725, 4.222486304306048, 0.0)",47.278087,4.222486,0.0
594,Prosecco,Hierarchy_01,"Veneto, Italy","(Veneto, Italia, (45.6476663, 11.8665254))","(45.6476663, 11.8665254, 0.0)",45.647666,11.866525,0.0
462,Clos des Lambrays,Hierarchy_01,"Burgundy, France","(Bourgogne, France m√©tropolitaine, France, (47...","(47.27808725, 4.222486304306048, 0.0)",47.278087,4.222486,0.0
448,Puligny-Montrachet Les Folati√®res,Hierarchy_01,"Burgundy, France","(Bourgogne, France m√©tropolitaine, France, (47...","(47.27808725, 4.222486304306048, 0.0)",47.278087,4.222486,0.0
589,Vino Nobile di Montepulciano,Hierarchy_01,"Tuscany, Italy","(Toscana, Italia, (43.4586541, 11.1389204))","(43.4586541, 11.1389204, 0.0)",43.458654,11.138920,0.0
613,Walker Bay,Hierarchy_01,"Western Cape, South Africa","(Western Cape, South Africa, (-33.546977, 20.7...","(-33.546977, 20.72753, 0.0)",-33.546977,20.727530,0.0

In [23]:
df_Wine01 = pd.merge(df_Wine, df_GeoCache01, on = 'Geography', how = 'left')

df_Wine01.sample(10)

,Review_Year,Rank,Vintage,Score,Price,Winemaker,Wine,Wine_Style,Grape_Blend,Blend_List,...,Best_Drink_from,Best_Drink_Through,Review,Hierarchy,Address,loc,point,lat,long,altitude
3237,1988.0,35,1985,97.0,90,Ch√¢teau Latour,Pauillac,Red,Blend,Cabernet Sauvignon ‚Äì Merlot,...,NaN,NaN,"A majestic wine, a bit hard and lean, with str...",Hierarchy_01,"Bordeaux, France","(Bordeaux, Gironde, Nouvelle-Aquitaine, France...","(44.841225, -0.5800364, 0.0)",44.841225,-0.580036,0.0
965,2011.0,64,2008,95.0,70,Quinta do Vale Me√£o,Douro,Red,Blend,"Touriga Nacional, Touriga Franca, Tinta Roriz ...",...,2011.0,2020.0,"Very fresh and pure-tasting, displaying a mine...",Hierarchy_01,"Douro, Portugal","(Douro, Norte, Portugal, (41.17004195, -7.3047...","(41.17004195, -7.304749811735755, 0.0)",41.170042,-7.304750,0.0
1753,2003.0,52,1997,97.0,99,Lisini,Brunello di Montalcino Ugolaia,Red,Brunello di Montalcino,NaN,...,2005.0,NaN,"Fabulous bottle. Very, very classy aromas of f...",Hierarchy_01,"Tuscany, Italy","(Toscana, Italia, (43.4586541, 11.1389204))","(43.4586541, 11.1389204, 0.0)",43.458654,11.138920,0.0
2225,1998.0,8,1996,95.0,52,Argiano,Toscana Solengo,Red,Blend,"Sangiovese, Cabernet Sauvignon, Merlot and Syrah",...,2000.0,NaN,Wild thing. This Italian red is even better th...,Hierarchy_01,"Tuscany, Italy","(Toscana, Italia, (43.4586541, 11.1389204))","(43.4586541, 11.1389204, 0.0)",43.458654,11.138920,0.0
3054,1990.0,52,1987,93.0,24,Clos du Bois,Chardonnay Alexander Valley Winemaker's Reserve,White,Chardonnay,NaN,...,1990.0,1993.0,"A rich, smooth, creamy style that offers a bro...",Hierarchy_01,"California, USA","(California, United States, (36.7014631, -118....","(36.7014631, -118.755997, 0.0)",36.701463,-118.755997,0.0
557,2015.0,57,2012,95.0,90,Altamura,Cabernet Sauvignon Napa Valley,Red,Cabernet Sauvignon,NaN,...,2015.0,2028.0,"Amazingly pure, rich and complex, with tiers o...",Hierarchy_01,"California, USA","(California, United States, (36.7014631, -118....","(36.7014631, -118.755997, 0.0)",36.701463,-118.755997,0.0
360,2017.0,60,2015,90.0,25,Casa Santos Lima,Lisboa Colossal Reserva,Red,Blend,Portuguese Red Blend,...,2017.0,2020.0,Plum and boysenberry notes weave together with...,Hierarchy_01,"Estremadura, Lisboa, Portugal","(Rua da Estremadura, Vila Ch√£, Santo Ant√≥nio d...","(38.635382, -9.0427141, 0.0)",38.635382,-9.042714,0.0
2027,2000.0,26,1995,97.0,185,Penfolds,Shiraz South Australia Grange,Red,Shiraz | Syrah,NaN,...,2004.0,2020.0,"A massive wine, majestic in its proportions,co...",Hierarchy_01,"South Australia, Australia","(South Australia, Australia, (-30.5343665, 135...","(-30.5343665, 135.6301212, 0.0)",-30.534367,135.630121,0.0
2162,1999.0,61,1997,91.0,18,Steele,Chardonnay California Steele Cuv√©e,White,Chardonnay,NaN,...,1999.0,2001.0,Lots of up-front fruit and spice make this whi...,Hierarchy_01,"California, USA","(California, United States, (36.7014631, -118....","(36.7014631, -118.755997, 0.0)",36.701463,-118.755997,0.0
1179,2009.0,78,NV,90.0,20,Gloria Ferrer,Brut Sonoma County Sonoma,Sparkling,Blend,"85% Pinot Noir, 15% Chardonnay",...,2009.0,2012.0,"Lively and fun to drink, with creamy Asian pea...",Hierarchy_01,"California, USA","(California, United States, (36.7014631, -118....","(36.7014631, -118.755997, 0.0)",36.701463,-118.755997,0.0

### Save files for use in other notebooks

In [24]:
df_Wine00.to_csv(path_or_buf = './Wine_Hier00.csv', index = False)
df_Wine01.to_csv(path_or_buf = './Wine_Hier01.csv', index = False)